@charset "UTF-8";
@font-face {
    font-family: 'Homemade Sausage';
    src: url(./fonts/homemade-sausage.ttf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: white;
    --cor2: #eea13de7;
    --cor3: #ac6726;
    --cor4: #462c24;
    --cor5: #A52A2A;
}


body {
    min-height: 100vh;
    width: 100%;

    background-color: #000000;
    font-family:'Lucida Sans', Verdana, sans-serif;
    background-image: url(./images/background_coffee-beans7.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1#title, h2 {
    text-align: center;
    font-family: 'Homemade Sausage';
}

@media screen and (min-width: 530px) {
h1#title {
    margin-top: 0.5em;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.8);
}

h2 {
    margin-top: -1em;;
    font-style: italic;
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.7);
}
}

@media screen and (max-width: 530px) {
    h1#title {
        margin-top: 0.5em;
        font-size: 4em;
        color: rgba(0, 0, 0, 0.8);
    }

    h2 {
        margin-top: -1em;;
        font-style: italic;
        font-size: 1em;
        color: rgba(255, 255, 255, 0.7);
    }
    }

form#survey-form {
    width: 72%;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: #eea13de7;
    border-radius: 1em;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.747);
}

@media screen and (min-width: 530px) {
p#description {
    max-width: 600px;
    min-width: 100px;
    margin: 0 auto 2em auto;
    font-family: 'Homemade Sausage';
    font-size: 1.4em;
    text-align: justify;
    color: rgba(0, 0, 0, 0.76);
}
}

@media screen and (max-width: 530px) {
    p#description {
        max-width: 600px;
        min-width: 100px;
        margin: 0 auto 2em auto;
        font-family: 'Homemade Sausage';
        font-size: 1.2em;
        text-align: center;
        color: rgba(0, 0, 0, 0.76);
    }
    }

fieldset {
    border: none;
    margin-bottom: 2em;
    border-bottom: 4px solid #A52A2A;
}

label {
    display: block;
    margin-bottom: 2em;
    color: black;
}

input, select, textarea {
    width: 99%;
    margin: 0.5em 0;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 0.2em;
}

input, select {
    min-height: 2em;
}

textarea {
    min-height: 12em;
    resize: vertical;
}

p#radio, p#checkbox {
    padding-bottom: 0.5em;
    text-align: left;
}

.inline {
    width: unset;
    margin: 0 1em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
    border: 1px solid white;
    background-color: #ac6726;
    border-radius: 0.5em;
}

input[type="submit"]:hover {
    background-color: #61a164;
    transition: 0.2s;
    cursor: pointer;
}